.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-logo-gulp {
  animation: App-logo-gulp-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  .react {
    color: #00D8FF;
  }
  .gulp {
    color: #D34A47;
  }
}

.App-intro {
  font-size: large
}

@keyframes App-logo-spin {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-gulp-spin {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.Todo {
  padding-top: 20px;
  display: inline-block;
  text-align: left;
  .error {
    color: red;
  }
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

