.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-logo-gulp {
  animation: App-logo-gulp-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px; }
  .App-header .react {
    color: #00D8FF; }
  .App-header .gulp {
    color: #D34A47; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes App-logo-gulp-spin {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

.Todo {
  padding-top: 20px;
  display: inline-block;
  text-align: left; }
  .Todo .error {
    color: red; }
  .Todo .success {
    color: green; }
  .Todo li span.delete-item {
    visibility: hidden; }
  .Todo span.delete-item a {
    text-decoration: none;
    color: red; }
  .Todo li:hover span.delete-item {
    visibility: visible; }
  .Todo input[type="checkbox"] {
    position: relative;
    top: 2px; }
  .Todo .TodoFooter a {
    padding-left: 2px;
    padding-right: 2px; }
  .Todo .active {
    font-weight: bold;
    color: #00D8FF; }

input {
  font-size: 20px; }

ul {
  padding: 0px; }

li {
  list-style-type: none; }
